# Creating Segmented Data - Part 3

## This is the continuity of NumpyCreatingSegmentFile2.ipynb

> **The following analysis will be performed in this book**:
* Adding City Center Flag (Oisin's notebook)
* Adding Kalman Filter Coefficient (Oisin's notebook)
* Adding Student Holidays Flag (Oisin's notebook)
* Adding distance between stops (Isaac's Notebook)
* Prepare the final Segmented data

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Read weather data into dataframe

URI="localhost"
PORT="5433"
DB="jetaDb"
PORT="5433"
USER="postgres"
PASSWORD='00001234'

engine = create_engine("postgresql://{}:{}@{}:{}/{}".format(USER,PASSWORD,URI,PORT,DB), echo=True)

In [3]:
# Reading the segments file
df = pd.read_csv("Sampled_Data_actualTime.csv")

In [4]:
df.head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp
0,79907,0,22.0,1000_1001,Tuesday,0.0,2.9
1,64277,0,160.5,1000_1001,Monday,0.0,9.3
2,63248,0,36.0,1000_1001,Saturday,0.0,12.8
3,27858,0,59.0,1000_1001,Wednesday,0.0,8.1
4,56554,1,79.0,1000_1001,Tuesday,0.0,17.2

In [5]:
# Since our df is too big, we will prepare a test df to run some basic tests
df_test = df.head()

> **Getting back the from stop and to stop columns**

In [6]:
# Test for from stop
df_test['segments'].str.extract("(.*?)_")

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

0    1000
1    1000
2    1000
3    1000
4    1000
Name: segments, dtype: object

Test succeeded

In [7]:
# Test for to stop
df_test['segments'].str.extract(".*?_(\d+)")

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

0    1001
1    1001
2    1001
3    1001
4    1001
Name: segments, dtype: object

Test Succeeded

In [8]:
# Getting back the from stop and to stop columns
df['from_stop'] = df['segments'].str.extract("(.*?)_")
df["to_stop"] = df['segments'].str.extract(".*?_(\d+)")

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df.head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp,from_stop,to_stop
0,79907,0,22.0,1000_1001,Tuesday,0.0,2.9,1000,1001
1,64277,0,160.5,1000_1001,Monday,0.0,9.3,1000,1001
2,63248,0,36.0,1000_1001,Saturday,0.0,12.8,1000,1001
3,27858,0,59.0,1000_1001,Wednesday,0.0,8.1,1000,1001
4,56554,1,79.0,1000_1001,Tuesday,0.0,17.2,1000,1001

We have split up the stops and now moving on to adding features

### STEP 1: <font color="#2196F3">Adding necessary flag</font>

> **City Center**: Split bus stops (city centre and suburbs)

In [10]:
# First we will get all the stops from the database
sql = "SELECT * FROM main_stops"

stops = pd.read_sql(sql, engine)

2018-07-28 11:45:46,206 INFO sqlalchemy.engine.base.Engine select version()
2018-07-28 11:45:46,207 INFO sqlalchemy.engine.base.Engine {}
2018-07-28 11:45:46,236 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-07-28 11:45:46,237 INFO sqlalchemy.engine.base.Engine {}
2018-07-28 11:45:46,267 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-28 11:45:46,268 INFO sqlalchemy.engine.base.Engine {}
2018-07-28 11:45:46,281 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-28 11:45:46,282 INFO sqlalchemy.engine.base.Engine {}
2018-07-28 11:45:46,313 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-07-28 11:45:46,314 INFO sqlalchemy.engine.base.Engine {}
2018-07-28 11:45:46,342 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-07-28 11:45:46,342 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM main_stops'}
2018-07-28 11:45:46,369 INFO sqlalchemy.engine.base.Engine SELECT * FROM main_stops
2018-07-28 11:45:46,371 INFO sqlalchemy.engine.base.Engine {}

In [11]:
stops.head(5)
# Add city centre column, 0 will mean NOT in city centre
stops['city_centre'] = 0
stops.head(5)

,stopid,address,lat,lng,lines,city_centre
0,2,"Rotunda, Parnell Square West",53.352241,-6.263695,"[38B, 38D, 38, 38A, 46A, 46E]",0
1,3,"Rotunda, Granby Place",53.352307,-6.263783,"[122, 120]",0
2,4,"Rotunda, Rotunda Hospital",53.352567,-6.264166,"[7, 7B, 9, 7D, 7A]",0
3,6,"Rotunda, Saint Martin's Chapel",53.352744,-6.264443,[4],0
4,7,"Rotunda, Rotunda Hospital",53.352836,-6.264562,"[40, 140, 40D, 40B, 13]",0

In [12]:
# A rectangle is chosen that contains all bus stops in the city centre, 
# roughly drawn between the Royal and Grand canals, coordinats are:

bottom_left = [53.331986, -6.292722]
bottom_right = [53.334034, -6.245183]

top_left = [53.361551, -6.298236]
top_right = [53.361860, -6.242419]

In [13]:
for index, row in stops.iterrows():
    if (row['lat'] > bottom_left[0] and row['lat'] < top_left[0]) and (row['lng'] < bottom_right[1] and row['lng'] > top_left[1]):
        stops.set_value(index, 'city_centre', 1)

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
stops.head()

,stopid,address,lat,lng,lines,city_centre
0,2,"Rotunda, Parnell Square West",53.352241,-6.263695,"[38B, 38D, 38, 38A, 46A, 46E]",1
1,3,"Rotunda, Granby Place",53.352307,-6.263783,"[122, 120]",1
2,4,"Rotunda, Rotunda Hospital",53.352567,-6.264166,"[7, 7B, 9, 7D, 7A]",1
3,6,"Rotunda, Saint Martin's Chapel",53.352744,-6.264443,[4],1
4,7,"Rotunda, Rotunda Hospital",53.352836,-6.264562,"[40, 140, 40D, 40B, 13]",1

The above is the list of all the city center stops. We will now join our segmented dataframe with this

In [15]:
centre_stops = stops['city_centre'] == 1
centre_stops = stops[centre_stops]
center_stops_list = centre_stops['stopid'].tolist()

In [16]:
type(center_stops_list)

list

In [17]:
df.dtypes

actualtime_arr         int64
is_school_holiday      int64
traveltime           float64
segments              object
dayofweek             object
rain                 float64
temp                 float64
from_stop             object
to_stop               object
dtype: object

In [18]:
df['from_stop'] = df['from_stop'].astype("int")
df['to_stop'] = df['to_stop'].astype("int")

In [19]:
def f(row):
    if (row['from_stop'] in center_stops_list) or (row['to_stop'] in center_stops_list):
        val = 1
    else:
        val = 0
    return val

In [20]:
df['is_citycenter']=0

In [21]:
df.loc[df.from_stop.isin(center_stops_list),'is_citycenter']=1
df.loc[df.to_stop.isin(center_stops_list),'is_citycenter']=1

In [22]:
df['is_citycenter'] = df['is_citycenter'].astype("int")

In [23]:
df[(df['from_stop']==100)&(df['to_stop']==307)].head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp,from_stop,to_stop,is_citycenter
43009,49458,0,160.5,100_307,Friday,0.0,24.3,100,307,1

In [24]:
stops[stops['stopid']==100]

,stopid,address,lat,lng,lines,city_centre
82,100,Wellington Lane (Wellington Green,53.30308,-6.322363,"[150, 54A]",0

In [25]:
stops[stops['stopid']==307]

,stopid,address,lat,lng,lines,city_centre
241,307,"Warrenmount, O'Donovan Road",53.334581,-6.280072,[150],1

> **Distance**: Split bus stops (city centre and suburbs)

In [26]:
# We will need the Stop times file from the GTFS data here
stop_times = pd.read_csv("GTFS/google_transit_dublinbus/stop_times.txt")

In [27]:
stop_times.head(5)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,8954.y102p.60-1-d12-1.1.O,12:00:00,12:00:00,8240DB000226,1,Sandymount,0,0,0.000000
1,8954.y102p.60-1-d12-1.1.O,12:00:54,12:00:54,8240DB000228,2,Sandymount,0,0,261.136188
2,8954.y102p.60-1-d12-1.1.O,12:01:39,12:01:39,8240DB000229,3,Sandymount,0,0,484.925289
3,8954.y102p.60-1-d12-1.1.O,12:02:53,12:02:53,8240DB000227,4,Sandymount,0,0,836.995679
4,8954.y102p.60-1-d12-1.1.O,12:03:38,12:03:38,8240DB000230,5,Sandymount,0,0,1066.461783

In [28]:
stop_times['lineid'] = stop_times['trip_id'].apply(lambda x: (x.split("-"))[1])

In [29]:
def extract_stopid(x):
    stopid = []
    for i in range(1, len(x)):
        try:
            stopid.insert(0, int(x[-i]))
        except:
            break
    return int(''.join(map(str, stopid)))

stop_times['stopid'] = stop_times['stop_id'].apply(lambda x: extract_stopid(x))

In [30]:
stop_times[stop_times['stopid']==307]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,lineid,stopid
164521,4037.y102q.60-150-d12-1.118.I,20:45:45,20:45:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164559,4055.y102q.60-150-d12-1.118.I,21:35:45,21:35:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164597,4057.y102q.60-150-d12-1.118.I,23:05:45,23:05:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164635,4097.y102q.60-150-d12-1.118.I,22:05:45,22:05:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164673,4099.y102q.60-150-d12-1.118.I,23:35:45,23:35:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164711,4105.y102q.60-150-d12-1.118.I,21:10:45,21:10:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164749,4107.y102q.60-150-d12-1.118.I,22:35:45,22:35:45,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164787,11937.y102p.60-150-d12-1.118.I,13:03:33,13:03:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164825,11939.y102p.60-150-d12-1.118.I,14:43:33,14:43:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164863,11954.y102p.60-150-d12-1.118.I,12:23:33,12:23:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164901,11956.y102p.60-150-d12-1.118.I,14:03:33,14:03:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164939,11970.y102p.60-150-d12-1.118.I,13:23:33,13:23:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
164977,11990.y102p.60-150-d12-1.118.I,11:53:33,11:53:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165015,11992.y102p.60-150-d12-1.118.I,13:43:33,13:43:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165053,12004.y102p.60-150-d12-1.118.I,12:43:33,12:43:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165091,12006.y102p.60-150-d12-1.118.I,14:23:33,14:23:33,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165129,11933.y102p.60-150-d12-1.118.I,09:53:49,09:53:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165167,11935.y102p.60-150-d12-1.118.I,11:23:49,11:23:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165205,11952.y102p.60-150-d12-1.118.I,10:53:49,10:53:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165243,11988.y102p.60-150-d12-1.118.I,10:23:49,10:23:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165281,4007.y102q.60-150-d12-1.118.I,06:39:37,06:39:37,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165319,4017.y102q.60-150-d12-1.118.I,15:22:30,15:22:30,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165357,4031.y102q.60-150-d12-1.118.I,15:42:30,15:42:30,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165395,4071.y102q.60-150-d12-1.118.I,15:02:30,15:02:30,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165433,11931.y102p.60-150-d12-1.118.I,08:17:13,08:17:13,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165471,12000.y102p.60-150-d12-1.118.I,07:47:13,07:47:13,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165509,4035.y102q.60-150-d12-1.118.I,19:07:49,19:07:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165547,4053.y102q.60-150-d12-1.118.I,19:57:49,19:57:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165585,4081.y102q.60-150-d12-1.118.I,20:22:49,20:22:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
165623,4103.y102q.60-150-d12-1.118.I,19:32:49,19:32:49,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
...,...,...,...,...,...,...,...,...,...,...,...
922614,11994.y102e.60-150-b12-1.118.I,15:21:16,15:21:16,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922652,16417.y102g.60-150-b12-1.118.I,21:31:20,21:31:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922690,16419.y102g.60-150-b12-1.118.I,23:01:20,23:01:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922728,16433.y102g.60-150-b12-1.118.I,22:01:20,22:01:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922766,16435.y102g.60-150-b12-1.118.I,23:36:20,23:36:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922804,16446.y102g.60-150-b12-1.118.I,21:01:20,21:01:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922842,16448.y102g.60-150-b12-1.118.I,22:31:20,22:31:20,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922880,4049.y102f.60-150-b12-1.118.I,16:22:59,16:22:59,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922918,4073.y102f.60-150-b12-1.118.I,16:42:59,16:42:59,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922956,4092.y102f.60-150-b12-1.118.I,16:02:59,16:02:59,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
922994,11937.y102e.60-150-b12-1.118.I,13:03:40,13:03:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923032,11939.y102e.60-150-b12-1.118.I,14:43:40,14:43:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923070,11954.y102e.60-150-b12-1.118.I,12:23:40,12:23:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923108,11956.y102e.60-150-b12-1.118.I,14:03:40,14:03:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923146,11970.y102e.60-150-b12-1.118.I,13:23:40,13:23:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923184,11990.y102e.60-150-b12-1.118.I,11:53:40,11:53:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923222,11992.y102e.60-150-b12-1.118.I,13:43:40,13:43:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923260,12004.y102e.60-150-b12-1.118.I,12:43:40,12:43:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923298,12006.y102e.60-150-b12-1.118.I,14:23:40,14:23:40,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923336,4041.y102f.60-150-b12-1.118.I,09:37:46,09:37:46,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923374,4051.y102f.60-150-b12-1.118.I,18:21:14,18:21:14,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923412,4079.y102f.60-150-b12-1.118.I,18:46:14,18:46:14,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923450,4094.y102f.60-150-b12-1.118.I,18:01:14,18:01:14,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923488,4009.y102f.60-150-b12-1.119.I,08:41:52,08:41:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923524,4039.y102f.60-150-b12-1.119.I,07:56:52,07:56:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923560,4063.y102f.60-150-b12-1.119.I,08:11:52,08:11:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923596,4075.y102f.60-150-b12-1.119.I,08:26:52,08:26:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923632,4023.y102f.60-150-b12-1.119.I,08:55:52,08:55:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923668,4061.y102f.60-150-b12-1.119.I,09:10:52,09:10:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307
923704,4084.y102f.60-150-b12-1.119.I,09:25:52,09:25:52,8220DB000307,30,Hawkins Street,0,0,7601.869157,150,307

In [31]:
distances = stop_times[['lineid', 'stopid', 'stop_sequence', 'shape_dist_traveled']]
distances = distances.drop_duplicates(['lineid', 'stop_sequence'])
stopid_list = distances['stopid'].tolist()
stopid_list = list(map(str, stopid_list))
journey_segments = [ '_'.join(x) for x in zip(stopid_list[0:], stopid_list[1:])]
distances_list = distances['shape_dist_traveled'].tolist()
distances_segments = [ (x[1] - x[0]) for x in zip(distances_list[0:], distances_list[1:])]
distance_df = pd.DataFrame({'segments': journey_segments, 'distance': distances_segments})
distance_df = distance_df[['segments', 'distance']]
distance_df

       segments    distance
0       226_228  261.136188
1       228_229  223.789101
2       229_227  352.070390
3       227_230  229.466104
4       230_231  292.654153
5      231_1641  468.890293
6     1641_1642  293.773927
7      1642_213  287.229230
8       213_214  263.282842
9      214_4432  276.040589
10     4432_119  269.219439
11       119_44  259.667709
12      44_7603  174.393234
13      7603_45  187.840358
14        45_46  331.247684
15        46_47  381.989237
16        47_48  203.819844
17        48_49  291.265771
18        49_51  276.545062
19        51_52  156.377456
20       52_265  586.562380
21      265_271  559.720831
22      271_340  419.798411
23      340_350  425.879559
24      350_351  431.791391
25      351_352  195.369197
26      352_353  188.231071
27      353_354  207.195763
28      354_355  250.081987
29      355_356  418.935980
...         ...         ...
6610  1284_1285  421.475746
6611  1285_1286  261.671589
6612  1286_1288  273.184557
6613  1288_1289  227.568097
6614  1289_1290  315.261570
6615  1290_1291  263.983693
6616  1291_2389  437.806281
6617  2389_2390  515.226512
6618  2390_2391  222.276298
6619  2391_2392  368.848026
6620  2392_2393  498.077834
6621  2393_2394  265.304341
6622  2394_1090  238.128910
6623  1090_2413  342.521042
6624  2413_2414  360.872341
6625  2414_2415  222.679005
6626  2415_2416  319.620572
6627  2416_2417  351.375931
6628  2417_2418  268.464150
6629  2418_2419  225.161494
6630  2419_2452  282.601819
6631  2452_2453  186.702973
6632  2453_2454  322.112900
6633  2454_2455  408.219868
6634  2455_2456  246.316741
6635  2456_2445  231.410998
6636  2445_2457  216.552011
6637  2457_4392  237.927422
6638  4392_6229 -378.715814
6639  6229_7131  441.125402

[6640 rows x 2 columns]

In [32]:
# distance_df[distance_df['segment']=='100_307']

In [33]:
# df.head()

In [34]:
df_dist = pd.merge(df,distance_df,how="inner")

In [35]:
# final_segments = pd.unique(df_dist['segments'].values.ravel('K'))

In [36]:
# distance_segments = pd.unique(distance_df['segments'].values.ravel('K'))

In [37]:
# type(final_segments)

In [38]:
#np.setdiff1d(distance_segments,final_segments)

In [45]:
df_dist_new = pd.merge(df,distance_df,how="inner")

In [46]:
df_dist_new.head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp,from_stop,to_stop,is_citycenter,distance
0,79907,0,22.0,1000_1001,Tuesday,0.0,2.9,1000,1001,0,202.536493
1,64277,0,160.5,1000_1001,Monday,0.0,9.3,1000,1001,0,202.536493
2,63248,0,36.0,1000_1001,Saturday,0.0,12.8,1000,1001,0,202.536493
3,27858,0,59.0,1000_1001,Wednesday,0.0,8.1,1000,1001,0,202.536493
4,56554,1,79.0,1000_1001,Tuesday,0.0,17.2,1000,1001,0,202.536493

> The above cases are bad data and are not present for the final model

In [39]:
from pykalman import KalmanFilter

In [40]:
# Code adapted from https://www.quantopian.com/posts/quantopian-lecture-series-kalman-filters
# The Kalman filter
kf = KalmanFilter(transition_matrices = [1],
                  observation_matrices = [1],
                  initial_state_mean = 0,
                  initial_state_covariance = 1,
                  observation_covariance=1,
                  transition_covariance=.01)

# Use the observed values of the price to get a rolling mean
state_means, _ = kf.filter(df_dist.traveltime.values)
state_means = pd.Series(state_means.flatten(), index=df_dist.index)

In [47]:
df_dist_new = pd.concat([df_dist_new, state_means], axis=1)

In [48]:
df_dist_new.head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp,from_stop,to_stop,is_citycenter,distance,0
0,79907,0,22.0,1000_1001,Tuesday,0.0,2.9,1000,1001,0,202.536493,11.000000
1,64277,0,160.5,1000_1001,Monday,0.0,9.3,1000,1001,0,202.536493,61.493377
2,63248,0,36.0,1000_1001,Saturday,0.0,12.8,1000,1001,0,202.536493,54.915532
3,27858,0,59.0,1000_1001,Wednesday,0.0,8.1,1000,1001,0,202.536493,55.778866
4,56554,1,79.0,1000_1001,Tuesday,0.0,17.2,1000,1001,0,202.536493,59.987633

In [50]:
df_dist_new.columns = ['actualtime_arr','is_school_holiday','traveltime','segments','dayofweek','rain','temp','from_stop','to_stop','is_citycenter','distance', 'kalman_time']

In [51]:
df_dist_new.head()

,actualtime_arr,is_school_holiday,traveltime,segments,dayofweek,rain,temp,from_stop,to_stop,is_citycenter,distance,kalman_time
0,79907,0,22.0,1000_1001,Tuesday,0.0,2.9,1000,1001,0,202.536493,11.000000
1,64277,0,160.5,1000_1001,Monday,0.0,9.3,1000,1001,0,202.536493,61.493377
2,63248,0,36.0,1000_1001,Saturday,0.0,12.8,1000,1001,0,202.536493,54.915532
3,27858,0,59.0,1000_1001,Wednesday,0.0,8.1,1000,1001,0,202.536493,55.778866
4,56554,1,79.0,1000_1001,Tuesday,0.0,17.2,1000,1001,0,202.536493,59.987633

In [ ]:
# df_final = pd.concat([df_dist_new, state_means], axis=1)

In [52]:
df_dist_new.drop(['from_stop','to_stop','temp'],axis=1,inplace=True)

In [53]:
df_sampled_merged = df_dist_new[['segments','actualtime_arr','dayofweek','rain','is_school_holiday','is_citycenter','distance','kalman_time','traveltime']]

In [55]:
for i, val in df_sampled_merged.groupby('segments'):
     val.to_csv('SegmentedSamples2_actual_final\\{}.csv'.format(i),header=False,index_label=False,index=False)

In [ ]:
# # Raw data
# df_dist.plot(kind='scatter', x='actualtime_arr', y='traveltime')
# x = df_dist['actualtime_arr']
# y = df_dist['traveltime']

# plt.plot(x, y, 'o', color='blue');

In [56]:
df_dist_new.to_csv('full_segments.csv')