# GTFS_Dublin Bus Time Table

## This notebook prepares the Timetable at each bus stop for each route using GTFS data

In [2]:
# Import all the important tools
import pandas as pd
import numpy as np

In [3]:
# Calendar data to tell the service days of week
df_calendar = pd.read_csv('google_transit_dublinbus/calendar.txt')

In [4]:
df_stops = pd.read_csv('google_transit_dublinbus/stops.txt')

In [5]:
df_stops_times = pd.read_csv('google_transit_dublinbus/stop_times.txt')

In [6]:
df_calendar

,service_id,start_date,end_date,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,y102x,20180729,20180825,1,0,0,0,0,0,1
1,y1024,20180405,20180728,0,0,0,0,0,1,0
2,y102w,20180729,20180825,0,0,0,0,0,1,0
3,y102v,20180729,20180825,1,1,1,1,1,0,0
4,y1023,20180405,20180728,0,0,0,0,0,0,1
5,y1022,20180405,20180728,1,1,1,1,1,0,0

In [7]:
df_stops.head()

,stop_lat,zone_id,stop_lon,stop_id,stop_name,location_type
0,53.357470,NaN,-6.287639,8220DB000801,"Cabra East, North Circular Road",0
1,53.424598,NaN,-6.234909,8240DB003663,"Dublin Airport, Airport Terminal 2",0
2,53.390386,NaN,-6.278349,8220DB000131,"Glasnevin North, Glasnevin Avenue (Beneavin Dr...",0
3,53.289040,NaN,-6.339486,8230DB002554,"Tallaght, Glenview Park",0
4,53.362907,NaN,-6.302642,8220DB001806,"Cabra, Navan Road",0

In [8]:
# Stops table has all the stops with their names and location parameters. We just want to extract the stop ids
# First we will check if the stopid as something other than text
from string import punctuation

In [25]:
BAD_CHARS = list(set(punctuation))

In [26]:
'|'.join(BAD_CHARS)

'{|:|@|,|/|?|&|>|)|`|}|#|||"|-|<|(|\\|]|;|^|.|$|\'|~|[|!|*|+|=|%|_'

In [56]:
df_stops[df_stops['stop_id'].str.contains('{|:|@|,|/|\?|&|>|\)|`|}|#|\||"|=|<|\(|\\|]|;|\^|\.|\$|\'|~|\[|!|\*|\+|=|%|_')]

,stop_lat,zone_id,stop_lon,stop_id,stop_name,location_type
287,53.284858,NaN,-6.360721,8230DB002605_merged_7690,"Tallaght, Old Bawn Estate (Watergate Estate)",0
401,53.284056,NaN,-6.359912,8230DB002605_merged_7671,"Tallaght, Old Bawn Estate (Watergate Estate)",0
422,53.367144,NaN,-6.255514,8220DB000019_merged_7703,"Dromcondra, Lower Drumcondra Road",0
485,53.276266,NaN,-6.250130,8250DB002859_merged_7693,"Ballinteer, Ballinteer Avenue",0
545,53.281817,NaN,-6.295780,8230DB007449_merged_7672,"Willbrook, Taylor's Lane",0
563,53.305198,NaN,-6.217225,8250DB000765_merged_7688,"Belfield, University College Dublin",0
569,53.279888,NaN,-6.272252,8230DB002968_merged_7698,"Rathfarnham, Three Rock Hockey Club",0
629,53.518904,NaN,-6.116223,8240DB003774_merged_7668,"Rush, Whitestown Road (Old Road)",0
665,53.276828,NaN,-6.119329,gen:57102:3606:0:1,"Glenageary, Barnhill Rd",0
770,53.281111,NaN,-6.276627,8230DB002981_merged_7696,"Rathfarnham, Eden Avenue",0
779,53.375190,NaN,-6.250766,8220DB000119_merged_7697,"Dromcondra, Upper Drumcondra Road (Griffith Av...",0
780,53.346822,NaN,-6.256779,gen:57102:3607:0:1,"Dublin City, Poolbeg Street",0
783,53.281776,NaN,-6.296021,8230DB007449_merged_7691,"Willbrook, Taylor's Lane",0
1027,53.277913,NaN,-6.246598,8250DB002860_merged_7704,"Ballinteer, Ballinteer Avenue (Mayfield Terrace)",0
1207,53.305255,NaN,-6.216862,8250DB000765_merged_7669,"Belfield, University College Dublin",0
1246,53.375190,NaN,-6.250766,8220DB000119_merged_7678,"Drumcondra, Upper Drumcondra Road (Griffith Av...",0
1302,53.281272,NaN,-6.277250,8230DB002981_merged_7677,"Rathfarnham, Eden Avenue",0
1473,53.517845,NaN,-6.119150,8240DB003774_merged_7687,"Rush, Whitestown Cemetery",0
1540,53.363916,NaN,-6.257298,8220DB000047_merged_7683,"Drumcondra, Near Train Station",0
1622,53.279578,NaN,-6.244911,8250DB002861_merged_7670,"Ballinteer, Wesley College",0
2214,53.278691,NaN,-6.245052,8250DB002861_merged_7689,"Ballinteer, Wesley College",0
2218,53.376393,NaN,-6.250010,8220DB000203_merged_7686,"Dromcondra, Whitehall Garda Station",0
2243,53.324134,NaN,-6.257884,gen:57102:5245:0:1,"Ranelagh, Charleston Road",0
2296,53.280329,NaN,-6.273569,8230DB002968_merged_7679,"Rathfarnham, Three Rock Hockey Club",0
2383,53.275186,NaN,-6.252453,8250DB002858_merged_7673,"Ballinteer, Ballintyre Woods",0
2445,53.279890,NaN,-6.272417,8230DB002980_merged_7695,"Rathfarnham, Three Rock Hockey Club",0
2497,53.365856,NaN,-6.255957,8220DB000018_merged_7682,"Drumcondra, Lower Drumcondra Road",0
2783,53.286561,NaN,-6.374800,8230DB004348_merged_7700,"Tallaght, The Square Shopping Centre",0
3251,53.286222,NaN,-6.375008,8230DB004347_merged_7680,"Tallaght, The Square Shopping Centre",0
3272,53.367144,NaN,-6.255514,8220DB000019_merged_7684,"Drumcondra, Lower Drumcondra Road",0
3331,53.286419,NaN,-6.374940,8230DB004347_merged_7699,"Tallaght, The Square Shopping Centre",0
3599,53.363916,NaN,-6.257298,8220DB000047_merged_7702,"Dromcondra, Near Train Station",0
3710,53.346512,NaN,-6.257062,gen:57102:3543:0:1,"Near Tara Station, Virtual Stop Townsend St",0
3877,53.286682,NaN,-6.375095,8230DB004348_merged_7681,"Tallaght, The Square Shopping Centre",0
3909,53.274313,NaN,-6.255428,8250DB002858_merged_7692,"Ballinteer, Ballintyre Woods",0
3915,53.276991,NaN,-6.248631,8250DB002859_merged_7674,"Ballinteer, Ballinteer Avenue",0
3990,53.278167,NaN,-6.246138,8250DB002860_merged_7685,"Ballinteer, Ballinteer Avenue (Mayfield Terrace)",0
4116,53.346602,NaN,-6.257058,gen:57102:3542:0:1,"Near Tara Station, Virtual Stop Townsend Street",0
4241,53.376393,NaN,-6.250010,8220DB000203_merged_7667,"Drumcondra, Whitehall Garda Station",0
4285,53.280017,NaN,-6.273071,8230DB002980_merged_7676,"Rathfarnham, Three Rock Hockey Club",0
4416,53.281573,NaN,-6.287541,8230DB002983_merged_7675,"Willbrook, Taylor's Lane (Pearse Brothers Park)",0
4462,53.365856,NaN,-6.255957,8220DB000018_merged_7701,"Dromcondra, Lower Drumcondra Road",0
4700,53.281490,NaN,-6.287394,8230DB002983_merged_7694,"Willbrook, Taylor's Lane (Pearse Brothers Park)",0

> We can see that there two types of stops:
* The gen kind, these are virtual stops
* The merged kind.

-- First we drop the gen kind and remove the merged values and keep only distinct stopids forourselves

In [57]:
df_clean_stops = df_stops[~df_stops['stop_id'].str.contains(':')]

In [58]:
df_stop__ = df_stops[df_stops['stop_id'].str.contains('_')]

In [68]:
df_stop__['stop_id'].str.extract('(.*?)_')

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

287     8230DB002605
401     8230DB002605
422     8220DB000019
485     8250DB002859
545     8230DB007449
563     8250DB000765
569     8230DB002968
629     8240DB003774
770     8230DB002981
779     8220DB000119
783     8230DB007449
1027    8250DB002860
1207    8250DB000765
1246    8220DB000119
1302    8230DB002981
1473    8240DB003774
1540    8220DB000047
1622    8250DB002861
2214    8250DB002861
2218    8220DB000203
2296    8230DB002968
2383    8250DB002858
2445    8230DB002980
2497    8220DB000018
2783    8230DB004348
3251    8230DB004347
3272    8220DB000019
3331    8230DB004347
3599    8220DB000047
3877    8230DB004348
3909    8250DB002858
3915    8250DB002859
3990    8250DB002860
4241    8220DB000203
4285    8230DB002980
4416    8230DB002983
4462    8220DB000018
4700    8230DB002983
Name: stop_id, dtype: object

In [69]:
df_clean_stops['clean_stop_id'] = np.where(df_clean_stops['stop_id'].str.contains('_'),df_clean_stops['stop_id'].str.extract('(.*?)_').str[-4:],df_clean_stops['stop_id'].str[-4:])

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
df_clean_stops[df_clean_stops['clean_stop_id']==np.isnan]

Empty DataFrame
Columns: [stop_lat, zone_id, stop_lon, stop_id, stop_name, location_type, clean_stop_id]
Index: []

In [83]:
df_clean_stops.head()

,stop_lat,zone_id,stop_lon,stop_id,stop_name,location_type,clean_stop_id
0,53.357470,NaN,-6.287639,8220DB000801,"Cabra East, North Circular Road",0.0,801.0
1,53.424598,NaN,-6.234909,8240DB003663,"Dublin Airport, Airport Terminal 2",0.0,3663.0
2,53.390386,NaN,-6.278349,8220DB000131,"Glasnevin North, Glasnevin Avenue (Beneavin Dr...",0.0,131.0
3,53.289040,NaN,-6.339486,8230DB002554,"Tallaght, Glenview Park",0.0,2554.0
4,53.362907,NaN,-6.302642,8220DB001806,"Cabra, Navan Road",0.0,1806.0

In [91]:
df_clean_stops[df_clean_stops['clean_stop_id'].isnull()]

Empty DataFrame
Columns: [stop_lat, zone_id, stop_lon, stop_id, stop_name, location_type, clean_stop_id]
Index: []

In [90]:
df_clean_stops = df_clean_stops[np.isfinite(df_clean_stops['clean_stop_id'])]

In [92]:
df_clean_stops[df_clean_stops['clean_stop_id'].isnull()]

Empty DataFrame
Columns: [stop_lat, zone_id, stop_lon, stop_id, stop_name, location_type, clean_stop_id]
Index: []

In [93]:
df_clean_stops['clean_stop_id'] = df_clean_stops['clean_stop_id'].astype('int')

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
df_clean_stops.head()

,stop_lat,zone_id,stop_lon,stop_id,stop_name,location_type,clean_stop_id
0,53.357470,NaN,-6.287639,8220DB000801,"Cabra East, North Circular Road",0.0,801
1,53.424598,NaN,-6.234909,8240DB003663,"Dublin Airport, Airport Terminal 2",0.0,3663
2,53.390386,NaN,-6.278349,8220DB000131,"Glasnevin North, Glasnevin Avenue (Beneavin Dr...",0.0,131
3,53.289040,NaN,-6.339486,8230DB002554,"Tallaght, Glenview Park",0.0,2554
4,53.362907,NaN,-6.302642,8220DB001806,"Cabra, Navan Road",0.0,1806

> We now have a clean list of stops, now will prepare our timetable

In [95]:
# For timetable we will need our stops times data
df_stops_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,5366.y102v.60-140-d12-1.109.O,16:20:00,16:20:00,8220DB007149,1,Rathmines,NaN,NaN,NaN
1,5366.y102v.60-140-d12-1.109.O,16:20:57,16:20:57,8220DB007277,2,Rathmines,NaN,NaN,282.831755
2,5366.y102v.60-140-d12-1.109.O,16:22:18,16:22:18,8220DB006363,3,Rathmines,NaN,NaN,790.042170
3,5366.y102v.60-140-d12-1.109.O,16:23:14,16:23:14,8220DB006361,4,Rathmines,NaN,NaN,1117.809126
4,5366.y102v.60-140-d12-1.109.O,16:23:44,16:23:44,8220DB006367,5,Rathmines,NaN,NaN,1351.710950

In [96]:
df_clean_stops_times = df_stops_times[['trip_id','arrival_time','stop_id','stop_sequence']]

In [97]:
len(df_clean_stops_times)

1845477

In [98]:
len(df_clean_stops)

4706

In [99]:
df_merged = pd.merge(df_clean_stops_times,df_clean_stops)

In [100]:
len(df_merged)

1844980

In [101]:
df_merged.head()

,trip_id,arrival_time,stop_id,stop_sequence,stop_lat,zone_id,stop_lon,stop_name,location_type,clean_stop_id
0,5366.y102v.60-140-d12-1.109.O,16:20:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
1,17210.y1023.60-140-b12-1.108.I,11:56:37,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
2,5294.y102v.60-140-d12-1.111.I,15:27:28,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
3,13182.y1024.60-140-b12-1.108.I,10:51:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
4,6647.y1022.60-140-b12-1.108.I,08:55:34,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149

In [135]:
df_test = df_merged.head()

In [128]:
df_test

,trip_id,arrival_time,stop_id,stop_sequence,stop_lat,zone_id,stop_lon,stop_name,location_type,clean_stop_id
0,5366.y102v.60-140-d12-1.109.O,16:20:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
1,17210.y1023.60-140-b12-1.108.I,11:56:37,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
2,5294.y102v.60-140-d12-1.111.I,15:27:28,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
3,13182.y1024.60-140-b12-1.108.I,10:51:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149
4,6647.y1022.60-140-b12-1.108.I,08:55:34,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149

In [127]:
df_calendar[df_calendar['service_id'].str.contains('y1024|y1023|y1022')]

,service_id,start_date,end_date,monday,tuesday,wednesday,thursday,friday,saturday,sunday
1,y1024,20180405,20180728,0,0,0,0,0,1,0
4,y1023,20180405,20180728,0,0,0,0,0,0,1
5,y1022,20180405,20180728,1,1,1,1,1,0,0

In [137]:
df_test['service_id'] = df_test['trip_id'].str.extract('.*?\.(.*?)\..*?-\d*')

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [139]:
df_test = df_test[df_test['service_id'].str.contains('y1024|y1023|y1022')]

In [142]:
df_test['dayofservice'] = 'X'

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [145]:
df_test.loc[df_test['service_id']=='y1024','dayofservice']='Sunday'
df_test.loc[df_test['service_id']=='y1023','dayofservice']='Saturday'
df_test.loc[df_test['service_id']=='y1022','dayofservice']='Weekday'

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [146]:
df_test

,trip_id,arrival_time,stop_id,stop_sequence,stop_lat,zone_id,stop_lon,stop_name,location_type,clean_stop_id,service_id,dayofservice
1,17210.y1023.60-140-b12-1.108.I,11:56:37,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,S1
3,13182.y1024.60-140-b12-1.108.I,10:51:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,S
4,6647.y1022.60-140-b12-1.108.I,08:55:34,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,W

In [147]:
# We will now perform the above functionality on the entire dataframe
df_merged['service_id'] = df_merged['trip_id'].str.extract('.*?\.(.*?)\..*?-\d*')

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [148]:
df_merged = df_merged[df_merged['service_id'].str.contains('y1024|y1023|y1022')]

In [149]:
df_merged['dayofservice'] = 'X'
df_merged.loc[df_merged['service_id']=='y1024','dayofservice']='Sunday'
df_merged.loc[df_merged['service_id']=='y1023','dayofservice']='Saturday'
df_merged.loc[df_merged['service_id']=='y1022','dayofservice']='Weekday'

In [152]:
# df_merged['route'] = df_merged['trip_id'].str.extract('.*?\..*?')
df_merged['route'] = df_merged['trip_id'].str.extract('.*?\..*?\.\d*-(.*?)-')

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [153]:
df_merged

,trip_id,arrival_time,stop_id,stop_sequence,stop_lat,zone_id,stop_lon,stop_name,location_type,clean_stop_id,service_id,dayofservice,route
1,17210.y1023.60-140-b12-1.108.I,11:56:37,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
3,13182.y1024.60-140-b12-1.108.I,10:51:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
4,6647.y1022.60-140-b12-1.108.I,08:55:34,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
5,17250.y1023.60-140-b12-1.108.I,19:22:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
10,13163.y1024.60-140-b12-1.106.O,15:00:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
11,6631.y1022.60-140-b12-1.106.O,07:35:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
12,17206.y1023.60-140-b12-1.108.I,11:26:37,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
13,17215.y1023.60-140-b12-1.106.O,12:40:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
14,17267.y1023.60-140-b12-1.108.I,20:22:56,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
16,17245.y1023.60-140-b12-1.108.I,22:48:03,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
18,6706.y1022.60-140-b12-1.108.I,21:17:57,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
21,13160.y1024.60-140-b12-1.108.I,12:16:06,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
22,17268.y1023.60-140-b12-1.106.O,15:20:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
23,6689.y1022.60-140-b12-1.106.O,16:10:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
25,17222.y1023.60-140-b12-1.108.I,14:09:16,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
26,17231.y1023.60-140-b12-1.107.O,23:30:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
27,6669.y1022.60-140-b12-1.106.O,15:40:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
28,6740.y1022.60-140-b12-1.106.O,12:15:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
29,13185.y1024.60-140-b12-1.106.O,13:30:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
31,6648.y1022.60-140-b12-1.106.O,09:15:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
34,17252.y1023.60-140-b12-1.106.O,13:00:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
36,17213.y1023.60-140-b12-1.106.O,10:30:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
39,17221.y1023.60-140-b12-1.106.O,12:00:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
42,17208.y1023.60-140-b12-1.108.I,13:29:16,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
44,13217.y1024.60-140-b12-1.108.I,16:54:27,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
45,6698.y1022.60-140-b12-1.108.I,17:13:54,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
46,17232.y1023.60-140-b12-1.108.I,13:49:16,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1023,Saturday,140
48,13191.y1024.60-140-b12-1.108.I,09:02:03,8220DB007149,45,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
53,6646.y1022.60-140-b12-1.106.O,06:40:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1022,Weekday,140
54,13190.y1024.60-140-b12-1.106.O,07:20:00,8220DB007149,1,53.407296,NaN,-6.277997,"Ballymun, Saint Margaret's Road",0.0,7149,y1024,Sunday,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844924,6186.y1022.60-65-b12-1.364.O,19:25:49,8350DB007268,84,53.106162,NaN,-6.498885,"County Wicklow, Village",0.0,7268,y1022,Weekday,65
1844926,6180.y1022.60-65-b12-1.364.O,06:32:51,8350DB007268,84,53.106162,NaN,-6.498885,"County Wicklow, Village",0.0,7268,y1022,Weekday,65
1844927,3698.y1022.60-63-b12-1.72.I,10:59:14,8250DB003290,13,53.258093,NaN,-6.171144,"Cornelscourt, Brighton Road",0.0,3290,y1022,Weekday,63
1844929,3698.y1022.60-63-b12-1.72.I,11:00:05,8250DB005168,14,53.259635,NaN,-6.177359,"Cornelscourt, Synnerton",0.0,5168,y1022,Weekday,63
1844931,3698.y1022.60-63-b12-1.72.I,11:00:35,8250DB003291,15,53.261666,NaN,-6.179656,"Cornelscourt, Brighton Road (Race Course)",0.0,3291,y1022,Weekday,63
1844933,3698.y1022.60-63-b12-1.72.I,11:01:01,8250DB003292,16,53.263420,NaN,-6.181516,"Cornelscourt, Brighton Road (opp Race Course)",0.0,3292,y1022,Weekday,63
1844935,3698.y1022.60-63-b12-1.72.I,11:01:38,8250DB003293,17,53.266193,NaN,-6.183587,"Cornelscourt, Foxrock Optical Centre",0.0,3293,y1022,Weekday,63
1844937,3698.y1022.60-63-b12-1.72.I,11:02:11,8250DB003294,18,53.267365,NaN,-6.180854,"Foxrock, Westminster Road",0.0,3294,y1022,Weekday,63
1844939,3698.y1022.60-63-b12-1.72.I,11:02:32,8250DB003295,19,53.268008,NaN,-6.178248,"Foxrock, Plunkett Avenue",0.0,3295,y1022,Weekday,63
1844941,3698.y1022.60-63-b12-1.72.I,11:03:00,8250DB003296,20,53.269209,NaN,-6.175093,"Foxrock, Gordon Avenue",0.0,3296,y1022,Weekday,63
1844943,3698.y1022.60-63-b12-1.72.I,11:03:19,8250DB003297,21,53.269708,NaN,-6.173048,"Cornelscourt, Brynogue",0.0,3297,y1022,Weekday,63
1844945,3698.y1022.60-63-b12-1.72.I,11:03:46,8250DB003298,22,53.269393,NaN,-6.169493,"Cornelscourt, Saint Brigid's School",0.0,3298,y1022,Weekday,63
1844947,3698.y1022.60-63-b12-1.72.I,11:04:09,8250DB003260,23,53.269691,NaN,-6.166646,"Cornelscourt, Mart Lane",0.0,3260,y1022,Weekday,63
1844949,3698.y1022.60-63-b12-1.72.I,11:04:28,8250DB003261,24,53.268181,NaN,-6.166051,"Cornelscourt, Centra Store",0.0,3261,y1022,Weekday,63
1844952,6944.y1022.60-118-b12-1.91.I,08:08:43,8250DB003317,12,53.273894,NaN,-6.200654,"Sandyford, Leopardstown Roundabout",0.0,3317,y1022,Weekday,118
1844953,6946.y1022.60-118-b12-1.91.I,08:18:43,8250DB003317,12,53.273894,NaN,-6.200654,"Sandyford, Leopardstown Roundabout",0.0,3317,y1022,Weekday,118
1844955,6944.y1022.60-118-b12-1.91.I,08:11:19,8250DB003318,13,53.279776,NaN,-6.197348,"Galloping Green, Brewery Road (Galloping Green)",0.0,3318,y1022,Weekday,118
1844956,6946.y1022.60-118-b12-1.91.I,08:21:19,8250DB003318,13,53.279776,NaN,-6.197348,"Galloping Green, Brewery Road (Galloping Green)",0.0,3318,y1022,Weekday,118
1844958,6944.y1022.60-118-b12-1.91.I,08:12:25,8250DB003320,14,53.281988,NaN,-6.194975,"Galloping Green, Brewery Road",0.0,3320,y1022,Weekday,118
1844959,6946.y1022.60-118-b12-1.91.I,08:22:25,8250DB003320,14,53.281988,NaN,-6.194975,"Galloping Green, Brewery Road",0.0,3320,y1022,Weekday,118
1844962,6786.y1022.60-41X-b12-1.325.I,07:40:50,8240DB007114,14,53.460243,NaN,-6.216051,"Swords, Seatown Villas",0.0,7114,y1022,Weekday,41X
1844963,6782.y1022.60-41X-b12-1.327.I,07:59:21,8240DB007114,15,53.460243,NaN,-6.216051,"Swords, Seatown Villas",0.0,7114,y1022,Weekday,41X
1844966,6786.y1022.60-41X-b12-1.325.I,07:42:31,8240DB007116,15,53.456831,NaN,-6.212685,"Swords, Footbridge",0.0,7116,y1022,Weekday,41X
1844967,6782.y1022.60-41X-b12-1.327.I,08:00:56,8240DB007116,16,53.456831,NaN,-6.212685,"Swords, Footbridge",0.0,7116,y1022,Weekday,41X
1844969,7518.y1022.60-68-b12-1.403.I,06:55:34,8230DB002177,38,53.315063,NaN,-6.382842,"Clondalkin, Newlands Cross Cemetery",0.0,2177,y1022,Weekday,68
1844970,12338.y1024.60-68-b12-1.403.I,07:03:34,8230DB002177,38,53.315063,NaN,-6.382842,"Clondalkin, Newlands Cross Cemetery",0.0,2177,y1024,Sunday,68
1844973,7518.y1022.60-68-b12-1.403.I,06:56:00,8230DB002178,39,53.315958,NaN,-6.379221,"Clondalkin, Saint Brigid's Cottages",0.0,2178,y1022,Weekday,68
1844974,12338.y1024.60-68-b12-1.403.I,07:04:00,8230DB002178,39,53.315958,NaN,-6.379221,"Clondalkin, Saint Brigid's Cottages",0.0,2178,y1024,Sunday,68
1844977,7518.y1022.60-68-b12-1.403.I,06:56:31,8230DB007354,40,53.316971,NaN,-6.375085,"Clondalkin, Naas Road",0.0,7354,y1022,Weekday,68
1844978,12338.y1024.60-68-b12-1.403.I,07:04:31,8230DB007354,40,53.316971,NaN,-6.375085,"Clondalkin, Naas Road",0.0,7354,y1024,Sunday,68

In [167]:
df_merged_tt_temp = df_merged[['clean_stop_id','route','dayofservice','arrival_time']]

In [156]:
df_merged_tt_temp.dtypes

clean_stop_id     int32
route            object
dayofservice     object
arrival_time     object
dtype: object

In [169]:
df_merged_tt_temp['schedule'] = np.where(df_merged_tt_temp['arrival_time'].str.extract('(.*?):').str[0:]=='24','00:'+df_merged_tt_temp['arrival_time'].str.extract(':(.*?):').str[0:],df_merged_tt_temp['arrival_time'].str.extract('(.*?:.*?):'))

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [170]:
df_merged_tt_temp[df_merged_tt_temp['arrival_time'].str.contains('^24:')]

         clean_stop_id route dayofservice arrival_time schedule
21605              819    38       Sunday     24:01:37    00:01
70899             1182    83       Sunday     24:00:20    00:00
71165             1550    83       Sunday     24:00:47    00:00
71431             1551    83       Sunday     24:01:10    00:01
71697             1552    83       Sunday     24:02:19    00:02
72127             3665   747      Weekday     24:11:25    00:11
72375             3665   747     Saturday     24:30:00    00:30
72471             3665   747       Sunday     24:30:00    00:30
72477             3665   747       Sunday     24:00:00    00:00
72706             3665   747       Sunday     24:12:34    00:12
72791             3665   747     Saturday     24:00:00    00:00
72827             3665   747     Saturday     24:09:06    00:09
72946             3665   757      Weekday     24:25:00    00:25
73117             3665   747      Weekday     24:00:00    00:00
73232             3665   757     Saturday     24:15:00    00:15
73245             3665   747      Weekday     24:30:00    00:30
73287             3665   747      Weekday     24:15:00    00:15
73343             3665   757       Sunday     24:25:00    00:25
73562             7400   747     Saturday     24:32:28    00:32
73611             7400   747       Sunday     24:32:25    00:32
73615             7400   747       Sunday     24:02:25    00:02
73761             7400   747     Saturday     24:02:28    00:02
73843             7400   757      Weekday     24:28:46    00:28
73927             7400   747      Weekday     24:02:40    00:02
73982             7400   757     Saturday     24:18:47    00:18
73987             7400   747      Weekday     24:32:40    00:32
74005             7400   747      Weekday     24:17:40    00:17
74042             7400   757       Sunday     24:28:06    00:28
74571             3669   747     Saturday     24:33:30    00:33
74694             3669   747       Sunday     24:33:18    00:33
...                ...   ...          ...          ...      ...
1834877           2585    65       Sunday     24:35:03    00:35
1834885           2585    65      Weekday     24:37:03    00:37
1834900           2585    65     Saturday     24:35:25    00:35
1834951           2586    65       Sunday     24:35:26    00:35
1834959           2586    65      Weekday     24:37:26    00:37
1834974           2586    65     Saturday     24:35:50    00:35
1835025           2587    65       Sunday     24:35:48    00:35
1835033           2587    65      Weekday     24:37:47    00:37
1835048           2587    65     Saturday     24:36:15    00:36
1835099           2588    65       Sunday     24:35:57    00:35
1835107           2588    65      Weekday     24:37:57    00:37
1835122           2588    65     Saturday     24:36:26    00:36
1835173           2589    65       Sunday     24:36:29    00:36
1835181           2589    65      Weekday     24:38:28    00:38
1835196           2589    65     Saturday     24:37:01    00:37
1835247           2358    65       Sunday     24:39:47    00:39
1835255           2358    65      Weekday     24:41:48    00:41
1835270           2358    65     Saturday     24:40:08    00:40
1842346           7288    65      Weekday     24:01:01    00:01
1842380           7286    65      Weekday     24:01:49    00:01
1842414           7283    65      Weekday     24:02:38    00:02
1842448           7282    65      Weekday     24:03:40    00:03
1842482           7278    65      Weekday     24:04:46    00:04
1842517           2576    65       Sunday     24:03:43    00:03
1842777           7615    11       Sunday     24:03:17    00:03
1842813           7615   16C       Sunday     24:13:40    00:13
1844401           5111    65       Sunday     24:20:00    00:20
1844413           5111    65     Saturday     24:20:00    00:20
1844449            721    31       Sunday     24:09:40    00:09
1844465            693    31       Sunday     24:10:23    00:10

[3926 rows x 5 columns]

In [171]:
df_merged_tt_temp.drop('arrival_time',axis=1,inplace=True)

C:\Users\harsh\Anaconda3\envs\COMP47350\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [179]:
df_sorted_tt = df_merged_tt_temp.sort_values(by=['clean_stop_id','route','dayofservice','schedule'])

In [182]:
df_final_sorted_tt = pd.DataFrame(df_sorted_tt.groupby(['clean_stop_id','route','dayofservice'])['schedule'].apply(list)).reset_index()

In [183]:
df_final_sorted_tt

,clean_stop_id,route,dayofservice,schedule
0,2,38,Saturday,"[09:47, 10:51, 11:56, 12:57, 13:57, 14:57, 16:..."
1,2,38,Sunday,"[07:42, 08:21, 09:01, 09:41, 10:25, 11:05, 11:..."
2,2,38,Weekday,"[06:23, 06:43, 07:03, 07:23, 07:48, 08:03, 08:..."
3,2,38A,Saturday,"[10:18, 11:23, 12:28, 13:28, 14:28, 15:25, 16:..."
4,2,38A,Sunday,"[07:21, 08:01, 08:43, 09:23, 10:03, 10:49, 11:..."
5,2,38A,Weekday,"[08:25, 08:55, 09:15, 09:35, 09:55, 10:35, 11:..."
6,2,38B,Weekday,"[06:12, 06:32, 06:52, 07:12, 07:32]"
7,2,38D,Weekday,[07:57]
8,2,46A,Saturday,"[09:13, 09:33, 09:53, 10:13, 10:37, 10:52, 11:..."
9,2,46A,Sunday,"[07:36, 07:51, 08:09, 08:24, 08:39, 08:49, 08:..."
10,2,46A,Weekday,"[06:11, 06:44, 06:52, 07:00, 07:08, 07:27, 07:..."
11,2,46E,Weekday,"[08:26, 08:51]"
12,3,120,Saturday,"[10:01, 10:31, 11:01, 11:31, 12:01, 12:31, 13:..."
13,3,120,Sunday,"[07:00, 07:20, 07:40, 08:00, 08:20, 08:40, 09:..."
14,3,120,Weekday,"[06:31, 06:46, 07:01, 07:11, 07:21, 07:31, 07:..."
15,3,122,Saturday,"[08:28, 08:58, 09:28, 09:58, 10:28, 11:01, 11:..."
16,3,122,Sunday,"[07:32, 07:52, 08:12, 08:32, 08:52, 09:12, 09:..."
17,3,122,Weekday,"[07:08, 07:23, 07:38, 07:48, 07:58, 08:08, 08:..."
18,4,7,Saturday,"[09:05, 09:45, 10:36, 11:16, 11:56, 12:36, 13:..."
19,4,7,Sunday,"[07:05, 07:35, 08:15, 08:45, 09:14, 09:44, 10:..."
20,4,7,Weekday,"[07:01, 07:44, 08:14, 08:58, 09:28, 09:42, 09:..."
21,4,7A,Saturday,"[00:17, 08:55, 09:35, 10:23, 11:03, 11:43, 12:..."
22,4,7A,Sunday,"[00:20, 06:56, 07:30, 08:00, 08:38, 09:08, 09:..."
23,4,7A,Weekday,"[00:18, 06:51, 07:28, 07:58, 08:52, 09:22, 09:..."
24,4,7B,Weekday,"[07:54, 08:19, 08:34, 09:05, 09:30]"
25,4,7D,Sunday,[06:25]
26,4,7D,Weekday,"[06:15, 08:13]"
27,4,9,Saturday,"[10:21, 10:50, 11:10, 11:30, 11:50, 12:15, 12:..."
28,4,9,Sunday,"[07:17, 07:29, 07:44, 07:59, 08:14, 08:44, 09:..."
29,4,9,Weekday,"[07:03, 07:18, 07:33, 07:56, 08:06, 08:16, 08:..."
...,...,...,...,...
31252,7644,7,Sunday,"[06:36, 07:06, 07:37, 08:07, 08:37, 09:07, 09:..."
31253,7644,7,Weekday,"[06:24, 06:54, 07:24, 07:57, 08:27, 08:44, 08:..."
31254,7645,7,Saturday,"[08:29, 09:09, 09:52, 10:32, 11:12, 11:52, 12:..."
31255,7645,7,Sunday,"[06:37, 07:07, 07:38, 08:08, 08:38, 09:08, 09:..."
31256,7645,7,Weekday,"[06:25, 06:55, 07:25, 07:58, 08:28, 08:45, 09:..."
31257,7646,7,Saturday,"[08:29, 09:09, 09:53, 10:33, 11:13, 11:53, 12:..."
31258,7646,7,Sunday,"[06:37, 07:07, 07:39, 08:09, 08:39, 09:09, 09:..."
31259,7646,7,Weekday,"[06:26, 06:56, 07:26, 07:59, 08:29, 08:46, 09:..."
31260,7651,63,Saturday,"[09:25, 10:13, 10:58, 11:43, 12:31, 13:16, 14:..."
31261,7651,63,Sunday,"[07:10, 07:55, 08:40, 09:25, 10:15, 11:00, 11:..."
31262,7651,63,Weekday,"[06:56, 07:26, 08:02, 08:31, 09:01, 09:31, 10:..."
31263,7652,59,Saturday,"[10:16, 11:16, 12:16, 13:19, 14:19, 15:19, 16:..."
31264,7652,59,Sunday,"[07:33, 08:34, 09:36, 10:36, 11:36, 12:40, 13:..."
31265,7652,59,Weekday,"[07:37, 08:38, 09:38, 10:38, 11:38, 12:40, 13:..."
31266,7654,41X,Weekday,"[07:20, 07:45, 18:12, 18:28]"
31267,7660,4,Saturday,"[09:19, 10:19, 11:19, 11:59, 12:59, 13:59, 14:..."
31268,7660,4,Sunday,"[08:54, 09:24, 09:54, 10:24, 11:04, 11:34, 12:..."
31269,7660,4,Weekday,"[06:31, 06:46, 07:01, 07:27, 07:42, 07:57, 08:..."
31270,7660,84,Saturday,"[10:13, 11:31, 12:51, 14:11, 15:31, 16:51, 18:..."
31271,7660,84,Sunday,"[07:01, 08:32, 10:01, 11:32, 13:02, 14:32, 16:..."
31272,7660,84,Weekday,"[06:31, 07:31, 08:32, 09:42, 10:42, 11:42, 12:..."
31273,7661,40,Saturday,"[09:27, 09:54, 10:24, 11:00, 11:20, 11:30, 11:..."
31274,7661,40,Sunday,"[06:56, 07:11, 07:26, 07:45, 08:00, 08:15, 08:..."
31275,7661,40,Weekday,"[06:27, 06:37, 06:53, 07:03, 07:13, 07:23, 07:..."
31276,7661,40B,Saturday,"[12:47, 15:53, 18:21, 23:33]"
31277,7661,40B,Sunday,"[07:11, 12:57, 15:37, 17:57, 23:33]"
31278,7661,40B,Weekday,"[07:21, 12:42, 16:07, 17:47, 18:44, 23:33]"
31279,7666,59,Saturday,"[10:35, 11:35, 12:35, 13:35, 14:35, 15:36, 16:..."
31280,7666,59,Sunday,"[06:55, 07:55, 08:56, 09:56, 10:56, 11:56, 12:..."
31281,7666,59,Weekday,"[06:55, 07:57, 08:57, 09:56, 10:56, 11:56, 12:..."

In [184]:
df_final_sorted_tt.columns = ['stopid','lineid','dayofservice','schedule']

In [185]:
df_final_sorted_tt

,stopid,lineid,dayofservice,schedule
0,2,38,Saturday,"[09:47, 10:51, 11:56, 12:57, 13:57, 14:57, 16:..."
1,2,38,Sunday,"[07:42, 08:21, 09:01, 09:41, 10:25, 11:05, 11:..."
2,2,38,Weekday,"[06:23, 06:43, 07:03, 07:23, 07:48, 08:03, 08:..."
3,2,38A,Saturday,"[10:18, 11:23, 12:28, 13:28, 14:28, 15:25, 16:..."
4,2,38A,Sunday,"[07:21, 08:01, 08:43, 09:23, 10:03, 10:49, 11:..."
5,2,38A,Weekday,"[08:25, 08:55, 09:15, 09:35, 09:55, 10:35, 11:..."
6,2,38B,Weekday,"[06:12, 06:32, 06:52, 07:12, 07:32]"
7,2,38D,Weekday,[07:57]
8,2,46A,Saturday,"[09:13, 09:33, 09:53, 10:13, 10:37, 10:52, 11:..."
9,2,46A,Sunday,"[07:36, 07:51, 08:09, 08:24, 08:39, 08:49, 08:..."
10,2,46A,Weekday,"[06:11, 06:44, 06:52, 07:00, 07:08, 07:27, 07:..."
11,2,46E,Weekday,"[08:26, 08:51]"
12,3,120,Saturday,"[10:01, 10:31, 11:01, 11:31, 12:01, 12:31, 13:..."
13,3,120,Sunday,"[07:00, 07:20, 07:40, 08:00, 08:20, 08:40, 09:..."
14,3,120,Weekday,"[06:31, 06:46, 07:01, 07:11, 07:21, 07:31, 07:..."
15,3,122,Saturday,"[08:28, 08:58, 09:28, 09:58, 10:28, 11:01, 11:..."
16,3,122,Sunday,"[07:32, 07:52, 08:12, 08:32, 08:52, 09:12, 09:..."
17,3,122,Weekday,"[07:08, 07:23, 07:38, 07:48, 07:58, 08:08, 08:..."
18,4,7,Saturday,"[09:05, 09:45, 10:36, 11:16, 11:56, 12:36, 13:..."
19,4,7,Sunday,"[07:05, 07:35, 08:15, 08:45, 09:14, 09:44, 10:..."
20,4,7,Weekday,"[07:01, 07:44, 08:14, 08:58, 09:28, 09:42, 09:..."
21,4,7A,Saturday,"[00:17, 08:55, 09:35, 10:23, 11:03, 11:43, 12:..."
22,4,7A,Sunday,"[00:20, 06:56, 07:30, 08:00, 08:38, 09:08, 09:..."
23,4,7A,Weekday,"[00:18, 06:51, 07:28, 07:58, 08:52, 09:22, 09:..."
24,4,7B,Weekday,"[07:54, 08:19, 08:34, 09:05, 09:30]"
25,4,7D,Sunday,[06:25]
26,4,7D,Weekday,"[06:15, 08:13]"
27,4,9,Saturday,"[10:21, 10:50, 11:10, 11:30, 11:50, 12:15, 12:..."
28,4,9,Sunday,"[07:17, 07:29, 07:44, 07:59, 08:14, 08:44, 09:..."
29,4,9,Weekday,"[07:03, 07:18, 07:33, 07:56, 08:06, 08:16, 08:..."
...,...,...,...,...
31252,7644,7,Sunday,"[06:36, 07:06, 07:37, 08:07, 08:37, 09:07, 09:..."
31253,7644,7,Weekday,"[06:24, 06:54, 07:24, 07:57, 08:27, 08:44, 08:..."
31254,7645,7,Saturday,"[08:29, 09:09, 09:52, 10:32, 11:12, 11:52, 12:..."
31255,7645,7,Sunday,"[06:37, 07:07, 07:38, 08:08, 08:38, 09:08, 09:..."
31256,7645,7,Weekday,"[06:25, 06:55, 07:25, 07:58, 08:28, 08:45, 09:..."
31257,7646,7,Saturday,"[08:29, 09:09, 09:53, 10:33, 11:13, 11:53, 12:..."
31258,7646,7,Sunday,"[06:37, 07:07, 07:39, 08:09, 08:39, 09:09, 09:..."
31259,7646,7,Weekday,"[06:26, 06:56, 07:26, 07:59, 08:29, 08:46, 09:..."
31260,7651,63,Saturday,"[09:25, 10:13, 10:58, 11:43, 12:31, 13:16, 14:..."
31261,7651,63,Sunday,"[07:10, 07:55, 08:40, 09:25, 10:15, 11:00, 11:..."
31262,7651,63,Weekday,"[06:56, 07:26, 08:02, 08:31, 09:01, 09:31, 10:..."
31263,7652,59,Saturday,"[10:16, 11:16, 12:16, 13:19, 14:19, 15:19, 16:..."
31264,7652,59,Sunday,"[07:33, 08:34, 09:36, 10:36, 11:36, 12:40, 13:..."
31265,7652,59,Weekday,"[07:37, 08:38, 09:38, 10:38, 11:38, 12:40, 13:..."
31266,7654,41X,Weekday,"[07:20, 07:45, 18:12, 18:28]"
31267,7660,4,Saturday,"[09:19, 10:19, 11:19, 11:59, 12:59, 13:59, 14:..."
31268,7660,4,Sunday,"[08:54, 09:24, 09:54, 10:24, 11:04, 11:34, 12:..."
31269,7660,4,Weekday,"[06:31, 06:46, 07:01, 07:27, 07:42, 07:57, 08:..."
31270,7660,84,Saturday,"[10:13, 11:31, 12:51, 14:11, 15:31, 16:51, 18:..."
31271,7660,84,Sunday,"[07:01, 08:32, 10:01, 11:32, 13:02, 14:32, 16:..."
31272,7660,84,Weekday,"[06:31, 07:31, 08:32, 09:42, 10:42, 11:42, 12:..."
31273,7661,40,Saturday,"[09:27, 09:54, 10:24, 11:00, 11:20, 11:30, 11:..."
31274,7661,40,Sunday,"[06:56, 07:11, 07:26, 07:45, 08:00, 08:15, 08:..."
31275,7661,40,Weekday,"[06:27, 06:37, 06:53, 07:03, 07:13, 07:23, 07:..."
31276,7661,40B,Saturday,"[12:47, 15:53, 18:21, 23:33]"
31277,7661,40B,Sunday,"[07:11, 12:57, 15:37, 17:57, 23:33]"
31278,7661,40B,Weekday,"[07:21, 12:42, 16:07, 17:47, 18:44, 23:33]"
31279,7666,59,Saturday,"[10:35, 11:35, 12:35, 13:35, 14:35, 15:36, 16:..."
31280,7666,59,Sunday,"[06:55, 07:55, 08:56, 09:56, 10:56, 11:56, 12:..."
31281,7666,59,Weekday,"[06:55, 07:57, 08:57, 09:56, 10:56, 11:56, 12:..."

In [186]:
# Loading the timetable data into database
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:00001234@localhost:5433/jetaDb')

In [189]:
df_final_sorted_tt.to_sql('main_timetable', engine, if_exists='append', index=False)