In [1]:
columntype={
    "dayofservice":"category",
    "tripid":"uint32",
    "progrnumber":"uint8",
    "stoppointid":"category",
    "plannedtime_arr":"int32",
    "to_stop":"category",
    "to_stop_time":"int32"
}

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('final_stops_model_v1.csv',dtype=columntype)

In [3]:
df.head()

,dayofservice,tripid,progrnumber,stoppointid,actualtime_arr,to_stop,to_stop_time,traveltime
0,02-JAN-16 00:00:00,2760214,1,324,79054,1635,79333,279
1,02-JAN-16 00:00:00,2760214,3,1635,79333,1636,79367,34
2,02-JAN-16 00:00:00,2760214,4,1636,79367,1637,79435,68
3,02-JAN-16 00:00:00,2760214,5,1637,79435,1638,79462,27
4,02-JAN-16 00:00:00,2760214,6,1638,79462,992,79544,82

In [4]:
df['traveltime2'] = df['to_stop_time'] - df['actualtime_arr']

In [5]:
df.drop('traveltime2',axis=1,inplace=True)

In [6]:
df = df[df['traveltime']>0]

In [7]:
df['segments'] = df['stoppointid'].astype(str)+'_'+df['to_stop'].astype(str)

In [8]:
df.dtypes

dayofservice      category
tripid              uint32
progrnumber          uint8
stoppointid       category
actualtime_arr       int64
to_stop           category
to_stop_time         int32
traveltime           int64
segments            object
dtype: object

In [9]:
df.head()

,dayofservice,tripid,progrnumber,stoppointid,actualtime_arr,to_stop,to_stop_time,traveltime,segments
0,02-JAN-16 00:00:00,2760214,1,324,79054,1635,79333,279,324_1635
1,02-JAN-16 00:00:00,2760214,3,1635,79333,1636,79367,34,1635_1636
2,02-JAN-16 00:00:00,2760214,4,1636,79367,1637,79435,68,1636_1637
3,02-JAN-16 00:00:00,2760214,5,1637,79435,1638,79462,27,1637_1638
4,02-JAN-16 00:00:00,2760214,6,1638,79462,992,79544,82,1638_992

In [10]:
df.drop(['tripid','progrnumber','stoppointid','to_stop','to_stop_time'],axis=1,inplace=True)

In [11]:
# df.to_csv('final_stops_model_v2.csv',index=False)

In [12]:
# sampling the data as per segment groups
# grouped = df.groupby('segments')

In [13]:
# df_sampled = grouped.apply(lambda x: x.sample(frac=0.5))

In [14]:
# len(df_sampled)

In [15]:
len(df)

90270267

In [16]:
unique_vals = df.segments.unique()

In [17]:
len(unique_vals)

92151

In [18]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:00001234@localhost:5433/jetaDb')

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
# Getting the list of segments and routes with the segments
df_routes_for_segment = pd.read_sql_query("select * from main_routes;",engine)
segmentids = []
routeids = []
segmentnos = []
from_stops=[]
to_stops=[]
for i, rows in df_routes_for_segment.iterrows():
    for j in range(len(rows['stopids'])):
        if j < (len(rows['stopids'])-1):
            segment = str(rows['stopids'][j])+"_"+str(rows['stopids'][j+1])
            from_stop = str(rows['stopids'][j])
            to_stop = str(rows['stopids'][j+1])
            segmentids.append(segment)
            segmentnos.append(j+1)
            routeids.append(rows['routeid'])
            from_stops.append(from_stop)
            to_stops.append(to_stop)
        else:
            break
df_journey = pd.DataFrame({'routeid':routeids,'segmentno':segmentnos,'segmentid':segmentids,'from_stop':from_stops,'to_stop':to_stops})

In [ ]:
# Dropping all the duplicate segments -> Queueing Theory
df_journey.drop_duplicates(subset='segmentid',keep='first',inplace=True)

In [ ]:
df_journey.reset_index(inplace=True,drop=True)

In [ ]:
# df_segments = df[df['segments'].isin(df_journey['segmentid'].values)]

In [ ]:
# len(df_segments)

In [ ]:
# unique_df_seg = df.segments.unique()

In [ ]:
# len(unique_df_seg)

In [ ]:
grouped = df.groupby('segments')

In [ ]:
df_sampled = grouped.apply(lambda x: x.sample(frac=0.3))

In [ ]:
df_sampled['dayofservice'] = pd.to_datetime(df_sampled['dayofservice'],format='%d-%b-%y %H:%M:%S',infer_datetime_format=True)

In [ ]:
df_sampled['dayofweek'] = df_sampled['dayofservice'].dt.weekday_name

In [ ]:
df_sampled['date'] = df_sampled['dayofservice'].dt.date

In [ ]:
df_sampled['time'] = pd.to_datetime(df_sampled['actualtime_arr'],unit='s')

In [ ]:
df_sampled['hour'] = df_sampled['time'].dt.hour

In [ ]:
df_sampled.drop('time',axis=1,inplace=True)

In [ ]:
df_sampled.drop('date',axis=1,inplace=True)

In [ ]:
len(df_sampled.segments.unique())

In [ ]:
df_weather = pd.read_sql_query("SELECT concat_ws(' ', date::text, time::text) AS date, rain, temp FROM main_weather;",engine)

In [ ]:
df_weather.head()

In [ ]:
df_weather['date'] = pd.to_datetime(df_weather['date'],infer_datetime_format=True)

In [ ]:
df_weather['dates'] = df_weather['date'].dt.date
df_weather['hour'] = df_weather['date'].dt.hour

In [ ]:
df_weather.dtypes

In [ ]:
df_weather['dates'] = pd.to_datetime(df_weather['dates'],infer_datetime_format=True)

In [ ]:
df_sampled.dtypes

In [ ]:
df_sampled_merged = df_sampled.merge(df_weather,left_on=['dayofservice','hour'],right_on=['dates','hour'],how='left')

In [ ]:
df_sampled_merged.dtypes

In [ ]:
# Adding Holiday Information
holidays_series = pd.read_sql_query("select date from main_bankholidays;",engine)

In [ ]:
holidays_series['date'] = pd.to_datetime(holidays_series['date'],infer_datetime_format=True)

In [ ]:
holidays_series

In [ ]:
df_sampled_merged[df_sampled_merged['dayofservice']==pd.to_datetime('2016-01-01',infer_datetime_format=True)]

In [ ]:
df_sampled_merged.loc[df_sampled_merged.dayofservice.isin(holidays_series['date'].values), 'dayofweek']='Sunday'

In [ ]:
df_sampled_merged.drop(['dayofservice','hour','date','dates'],axis=1,inplace=True)

In [ ]:
df_sampled_merged.head()

In [ ]:
# df_sampled_merged = df_sampled_merged[df_sampled_merged['traveltime']>0]

In [ ]:
# df_sampled_merged[df_sampled_merged['traveltime']==0]

In [ ]:
# Analysing the outliers and missing values

In [ ]:
max(df_sampled_merged['traveltime'].values)

In [ ]:
min(df_sampled_merged['traveltime'].values)

In [ ]:
df_sampled_merged.describe().T.to_csv('actualTimeArrivalDescription.csv')

In [ ]:
import matplotlib.pyplot as plt
f,ax = plt.subplots(figsize=(8,8))
df_sampled_merged.boxplot(column='traveltime')
plt.savefig('Figures//actualtime_outliers.png',transparent=True)

In [ ]:
df_sampled_merged.describe().T

In [ ]:
len(df_sampled_merged[df_sampled_merged['traveltime']>(84.0+(1.5*51))])

In [ ]:
df_travelTimelessthan25iqr = df_sampled_merged[df_sampled_merged['traveltime']<(33.0)]

In [ ]:
df_travelTimelessthan25iqr.describe().T

In [ ]:
df_sampled_merged['traveltime'].clip(lower=22.0, upper=(84.0+(1.5*51)),inplace=True)

In [ ]:
df_sampled_merged.describe().T

In [ ]:
import matplotlib.pyplot as plt
f,ax = plt.subplots(figsize=(8,8))
df_sampled_merged.boxplot(column='traveltime')
# plt.savefig('Figures//actualtime_wo_outliers.png',transparent=True)

In [ ]:
df_sampled_merged.to_csv('Sampled_Data_actualTime.csv',index_label=False,index=False)

In [65]:
for i, val in df_sampled_merged.groupby('segments'):
    val.to_csv('SegmentedSamples2_actual\\{}.csv'.format(i),header=False,index_label=False,index=False)

In [58]:
df_journey.head()

  routeid  segmentno  segmentid from_stop to_stop
0  102_10          1  1073_3641      1073    3641
1  102_10          2  3641_3642      3641    3642
2  102_10          3  3642_3643      3642    3643
3  102_10          4  3643_3583      3643    3583
4  102_10          5  3583_3584      3583    3584

In [67]:
_39A_segments = df_journey[df_journey['routeid'].str.startswith('39A')]['segmentid'].values.tolist()

In [68]:
unique_39A_segments = list(set(_39A_segments))

In [69]:
df_sampled_merged.dtypes

actualtime_arr      int64
traveltime        float64
segments           object
dayofweek          object
rain               object
temp               object
dtype: object

In [70]:
len(df_sampled_merged[df_sampled_merged['segments'].isin(unique_39A_segments)])

384194

In [71]:
df_39A_segments = df_sampled_merged[df_sampled_merged['segments'].isin(unique_39A_segments)]['segments'].values.tolist()

In [72]:
unq_39_test = list(set(df_39A_segments))

In [73]:
len(unq_39_test)

46

In [74]:
(unique_39A_segments.isin(unq_39_test))

AttributeError: 'list' object has no attribute 'isin'

In [ ]:
set(unique_39A_segments) - set(unq_39_test)

In [82]:
df_sampled_merged[df_sampled_merged['segments'].str.contains('')]

          plannedtime_arr  traveltime   segments  dayofweek rain  temp
24497481            83981          81  7453_1478     Friday    0     5
24497482            82267          53  7453_1478   Saturday    0     9
24497483            24878          78  7453_1478     Friday    0   9.2
24497484            41541          96  7453_1478  Wednesday    0  18.5
24497485            47225         181  7453_1478  Wednesday    0  18.7
24497486            67473         104  7453_1478  Wednesday    0  18.2
24497487            47714          87  7453_1478    Tuesday  0.3  17.2
24497488            70897         118  7453_1478   Thursday    0   7.4
24497489            44030         109  7453_1478     Friday    0   3.1
24497490            30739         209  7453_1478    Tuesday    0  12.8
24497491            26103         149  7453_1478   Thursday    0   9.9
24497492            58675          94  7453_1478     Friday    0  18.2
24497493            26678          78  7453_1478  Wednesday    0  10.2
24497494            68736          93  7453_1478  Wednesday    0  12.8
24497495            40164         133  7453_1478     Friday    0   9.5
24497496            37637          80  7453_1478   Saturday    0  10.2
24497497            31292         168  7453_1478   Thursday    0  -1.5
24497498            79622          63  7453_1478   Thursday    0   7.5
24497499            31300         142  7453_1478  Wednesday    0    13
24497500            33495         143  7453_1478   Thursday    0  14.8
24497501            86493          98  7453_1478     Sunday    0   5.1
24497502            44492         144  7453_1478   Thursday    0    13
24497503            83864          67  7453_1478     Monday    0  11.3
24497504            53044          87  7453_1478  Wednesday    0   8.8
24497505            45947         148  7453_1478    Tuesday    0   7.2
24497506            80895          52  7453_1478   Saturday    0     9
24497507            37971         121  7453_1478    Tuesday    0   9.1
24497508            65920         168  7453_1478     Monday  0.1   5.6
24497509            74457          86  7453_1478    Tuesday    0   2.6
24497510            28381         226  7453_1478  Wednesday    0   9.7
...                   ...         ...        ...        ...  ...   ...
24517447            24809         126  7453_1478     Monday    0   8.1
24517448            50645          94  7453_1478    Tuesday    0   8.2
24517449            30385         116  7453_1478   Thursday    0  10.2
24517450            32895         143  7453_1478  Wednesday    0    16
24517451            49332          73  7453_1478   Saturday    0  14.1
24517452            52080          88  7453_1478   Thursday    0   6.8
24517453            33433         254  7453_1478   Thursday    0  18.1
24517454            39050          81  7453_1478   Saturday    0  11.7
24517455            79125          98  7453_1478     Sunday    0  12.4
24517456            47902         101  7453_1478     Friday    0  19.7
24517457            63875          87  7453_1478  Wednesday    0   6.3
24517458            32556         253  7453_1478   Thursday  0.2  14.8
24517459            56808          99  7453_1478    Tuesday    0  11.6
24517460            49598          88  7453_1478   Thursday    0   7.5
24517461            32181         110  7453_1478     Friday    2   7.1
24517462            35714         113  7453_1478     Monday    0   8.3
24517463            70848          84  7453_1478   Saturday    0   5.8
24517464            51375         162  7453_1478   Saturday    0  16.9
24517465            60318          95  7453_1478     Friday    0   8.1
24517466            29993         226  7453_1478     Friday    0   6.9
24517467            43953         123  7453_1478     Friday    0  12.9
24517468            86460          53  7453_1478  Wednesday    0   4.1
24517469            55996         103  7453_1478    Tuesday    0   5.2
24517470            33944         191  7453_1478  Wednesday  0.1  20.3
24517471            69193         113  7453_1478     Monday    0  13.7
24517472            26371         107  7453_1478     Friday    0  11.3
24517473            78108          60  7453_1478     Monday    0    13
24517474            60712          96  7453_1478  Wednesday    0   9.5
24517475            38607          89  7453_1478  Wednesday    0  13.2
24517476            72151          75  7453_1478     Sunday    0   9.4

[19996 rows x 6 columns]

In [76]:
df_39A_segments_sampled = df_sampled_merged[df_sampled_merged['segments'].isin(unique_39A_segments)]

In [84]:
df_39A_segments_sampled

          plannedtime_arr  traveltime   segments  dayofweek rain  temp
3541324             43031          66  1443_1444   Thursday    0   8.2
3541325             65724          64  1443_1444    Tuesday    0  11.4
3541326             52720          83  1443_1444    Tuesday    0  11.3
3541327             57973          57  1443_1444   Saturday    0  12.6
3541328             51393          74  1443_1444   Thursday    0  15.7
3541329             44541          68  1443_1444     Friday    0   7.8
3541330             55245          58  1443_1444     Sunday    0  18.8
3541331             30458          72  1443_1444   Saturday    0  13.9
3541332             63271          79  1443_1444    Tuesday    0     4
3541333             55645          81  1443_1444    Tuesday    0  11.9
3541334             58223          31  1443_1444   Thursday    0  15.9
3541335             83857          56  1443_1444     Monday    0    10
3541336             59138          68  1443_1444     Friday  0.1  10.9
3541337             70644          70  1443_1444  Wednesday    0   5.4
3541338             59703          74  1443_1444     Monday    0  15.1
3541339             35798          52  1443_1444   Thursday    0   5.1
3541340             61278          82  1443_1444     Friday  0.1   9.2
3541341             51672          81  1443_1444    Tuesday    0  11.2
3541342             47494          58  1443_1444   Thursday    0  12.4
3541343             62407          82  1443_1444    Tuesday    0  16.6
3541344             70673          67  1443_1444  Wednesday    0  14.5
3541345             47040          57  1443_1444  Wednesday    0  13.8
3541346             55659          66  1443_1444   Thursday    0  12.9
3541347             37301          65  1443_1444     Monday    0  12.7
3541348             47166          79  1443_1444     Monday    0   8.1
3541349             62407          77  1443_1444   Thursday    0  20.5
3541350             47752          58  1443_1444     Monday    0   8.4
3541351             29410          81  1443_1444  Wednesday  0.7   4.1
3541352             68338          51  1443_1444   Thursday    0  12.2
3541353             52054          76  1443_1444     Friday    0  14.6
...                   ...         ...        ...        ...  ...   ...
25886369            57378          13   793_7576  Wednesday  0.1  13.5
25886370            78543           4   793_7576     Friday    0  12.3
25886371            29465           5   793_7576     Friday    0   8.4
25886372            40969           4   793_7576     Sunday    0   5.6
25886373            54799           6   793_7576     Monday    0  14.9
25886374            47008          33   793_7576    Tuesday  0.6   7.1
25886375            58561          16   793_7576     Friday    0   4.2
25886376            60495           4   793_7576     Sunday    0  14.8
25886377            68958           4   793_7576   Saturday    0  14.8
25886378            61625           7   793_7576     Monday    0  13.6
25886379            36807           5   793_7576     Monday    0   9.5
25886380            66979           4   793_7576     Sunday    0   4.4
25886381            53619           7   793_7576    Tuesday    0  20.8
25886382            63773          11   793_7576     Friday    0   6.5
25886383            31257           5   793_7576     Friday    0   7.4
25886384            45791          16   793_7576    Tuesday    0   8.9
25886385            79704           3   793_7576     Sunday    0  16.3
25886386            76948           5   793_7576     Monday    0   8.9
25886387            45621           5   793_7576     Monday  0.1  10.5
25886388            54535           5   793_7576   Saturday    0   7.3
25886389            57834          12   793_7576   Saturday    0  12.2
25886390            26142           8   793_7576  Wednesday  0.6  17.6
25886391            40277           5   793_7576     Monday    0   3.6
25886392            78609          10   793_7576  Wednesday    0   3.3
25886393            36861           6   793_7576     Friday    0   8.3
25886394            34723          11   793_7576     Friday    0   7.8
25886395            32272           6   793_7576   Thursday  0.5   7.9
25886396            65244           4   793_7576     Sunday    0  16.4
25886397            21986           8   793_7576  Wednesday    0  -0.4
25886398            62808           6   793_7576    Tuesday  0.2   3.6

[2022193 rows x 6 columns]

In [78]:
for i, val in df_39A_segments_sampled.groupby('segments'):
    val.to_csv('SegmentedSamples2_actual\\39A_segments\\{}.csv'.format(i),header=False,index_label=False,index=False)