In [67]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [68]:
# Read weather data into dataframe

URI="localhost"
PORT="5433"
DB="jetaDb"
PORT="5433"
USER="postgres"
PASSWORD='00001234'

engine = create_engine("postgresql://{}:{}@{}:{}/{}".format(USER,PASSWORD,URI,PORT,DB), echo=True)

In [69]:
sql = "SELECT * FROM main_stops"

stops = pd.read_sql(sql, engine)

2018-07-18 13:51:31,889 INFO sqlalchemy.engine.base.Engine select version()
2018-07-18 13:51:31,891 INFO sqlalchemy.engine.base.Engine {}
2018-07-18 13:51:31,952 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-07-18 13:51:31,954 INFO sqlalchemy.engine.base.Engine {}
2018-07-18 13:51:32,024 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-18 13:51:32,033 INFO sqlalchemy.engine.base.Engine {}
2018-07-18 13:51:32,159 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-18 13:51:32,162 INFO sqlalchemy.engine.base.Engine {}
2018-07-18 13:51:32,376 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-07-18 13:51:32,379 INFO sqlalchemy.engine.base.Engine {}
2018-07-18 13:51:32,450 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-07-18 13:51:32,454 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM main_stops'}
2018-07-18 13:51:32,510 INFO sqlalchemy.engine.base.Engine SELECT * FROM main_stops
2018-07-18 13:51:32,515 INFO sqlalchemy.engine.base.Engine {}

In [70]:
stops.head(5)
# Add city centre column, 0 will mean NOT in city centre
stops['city_centre'] = 0
stops.head(5)

,stopid,address,lat,lng,lines,city_centre
0,2,"Rotunda, Parnell Square West",53.352241,-6.263695,"[38B, 38D, 38, 38A, 46A, 46E]",0
1,3,"Rotunda, Granby Place",53.352307,-6.263783,"[122, 120]",0
2,4,"Rotunda, Rotunda Hospital",53.352567,-6.264166,"[7, 7B, 9, 7D, 7A]",0
3,6,"Rotunda, Saint Martin's Chapel",53.352744,-6.264443,[4],0
4,7,"Rotunda, Rotunda Hospital",53.352836,-6.264562,"[40, 140, 40D, 40B, 13]",0

In [71]:
# df = pd.read_csv('/Users/ozmatron/Desktop/Analytics/summer/bus_stop_coord_clean.csv')
# # Add city centre column, 0 will mean NOT in city centre
# df['city_centre'] = 0
# df.head(5)

In [72]:
# A rectangle is chosen that contains all bus stops in the city centre, 
# roughly drawn between the Royal and Grand canals, coordinats are:

bottom_left = [53.331986, -6.292722]
bottom_right = [53.334034, -6.245183]

top_left = [53.361551, -6.298236]
top_right = [53.361860, -6.242419]

# I ran tests with this on the Liffey coords:
# bridge = [53.3537456234947, -6.2625054539801]

In [73]:
for index, row in stops.iterrows():
    if (row['lat'] > bottom_left[0] and row['lat'] < top_left[0]) and (row['lng'] < bottom_right[1] and row['lng'] > top_left[1]):
        stops.set_value(index, 'city_centre', 1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
centre_stops = stops['city_centre'] == 1
centre_stops = stops[centre_stops]
centre_stops.shape

(355, 6)

In [75]:
stops.shape

(4681, 6)