In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
# Getting the journey data
engine = create_engine('postgresql+psycopg2://postgres:00001234@localhost:5433/jetaDb')
# Getting the list of segments and routes with the segments
df_routes_for_segment = pd.read_sql_query("select * from main_routes;",engine)
segmentids = []
routeids = []
segmentnos = []
from_stops=[]
to_stops=[]
for i, rows in df_routes_for_segment.iterrows():
    for j in range(len(rows['stopids'])):
        if j < (len(rows['stopids'])-1):
            segment = str(rows['stopids'][j])+"_"+str(rows['stopids'][j+1])
            from_stop = str(rows['stopids'][j])
            to_stop = str(rows['stopids'][j+1])
            segmentids.append(segment)
            segmentnos.append(j+1)
            routeids.append(rows['routeid'])
            from_stops.append(from_stop)
            to_stops.append(to_stop)
        else:
            break
df_journey = pd.DataFrame({'routeid':routeids,'segmentno':segmentnos,'segmentid':segmentids,'from_stop':from_stops,'to_stop':to_stops})
df_journey_old = df_journey

In [5]:
# Reading the from csv file
column_type = {
     'dayOfService': 'category',
     'tripid': 'uint32',
     'from_stop': 'uint16',
     'time_at_1': 'uint32',
}

In [6]:
df_from_stops = pd.read_csv('from_stops.csv', dtype=column_type)

In [7]:
# Reading the from csv file
column_type = {
     'dayOfService': 'category',
     'tripid': 'uint32',
     'to_stop': 'uint16',
     'time_at_2': 'uint32',
}
df_to_stops = pd.read_csv('to_stops.csv', dtype=column_type)

In [12]:
df_stops_model = pd.concat([df_from_stops,df_to_stops],axis=1,join='inner') # Provides better performance than merge

In [11]:
# df_stops_model.to_csv('final_Stops_Models.csv',index=False)

In [13]:
df_stops_model.dtypes

dayOfService    category
tripid            uint32
from_stop         uint16
time_at_1         uint32
dayOfService    category
tripid            uint32
to_stop           uint16
time_at_2         uint32
dtype: object

In [14]:
df_stops_model.head(5)

,dayOfService,tripid,from_stop,time_at_1,dayOfService,tripid,to_stop,time_at_2
0,09-JAN-16 00:00:00,2777084,4392,83700,09-JAN-16 00:00:00,2777084,4392,83700
1,30-JAN-16 00:00:00,2777084,4392,83700,30-JAN-16 00:00:00,2777084,4392,83700
2,16-JAN-16 00:00:00,2777084,4392,83700,16-JAN-16 00:00:00,2777084,4392,83700
3,23-JAN-16 00:00:00,2777084,4392,83700,23-JAN-16 00:00:00,2777084,4392,83700
4,09-JAN-16 00:00:00,2777084,2458,83728,09-JAN-16 00:00:00,2777084,2458,83728

In [15]:
df_stops_model.columns[1]

NameError: name 'df' is not defined